In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
# 1. Determine the number of elements in fruits. 17
fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [5]:
type(fruits_series)

pandas.core.series.Series

In [6]:
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [7]:
fruits_series.size

17

In [15]:
# 2. Output only the index from fruits.
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [9]:
# 3. Output only the values from fruits.
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [28]:
# 4. Confirm the data type of the values in fruits.
fruits_series.dtype

dtype('O')

In [18]:
# 5. Output only the first five values from fruits. Output the last three values. Output two random values from 
#fruits.
fruits_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [22]:
# 5. Output the last three values.
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [23]:
# 5. Output two random values from fruits.
fruits_series.sample(2)

3     pineapple
7    watermelon
dtype: object

In [24]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [26]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [27]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits_series.value_counts()

kiwi                4
mango               2
pineapple           1
blackberry          1
honeycrisp apple    1
blueberry           1
tomato              1
honeydew            1
watermelon          1
gala apple          1
strawberry          1
papaya              1
gooseberry          1
dtype: int64

In [29]:
# 9. Determine the string value that occurs most frequently in fruits.
fruits_series.value_counts().head(1)

kiwi    4
dtype: int64

In [30]:
# 10. Determine the string value that occurs least frequently in fruits.
fruits_series.value_counts().tail(11)

pineapple           1
blackberry          1
honeycrisp apple    1
blueberry           1
tomato              1
honeydew            1
watermelon          1
gala apple          1
strawberry          1
papaya              1
gooseberry          1
dtype: int64