In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('~/Downloads/telco.csv')
print (df)

     customer_id  gender  is_senior_citizen partner dependents  phone_service  \
0     0002-ORFBO  Female                  0     Yes        Yes              1
1     0003-MKNFE    Male                  0      No         No              2
2     0004-TLHLJ    Male                  0      No         No              1
3     0011-IGKFF    Male                  1     Yes         No              1
4     0013-EXCHZ  Female                  1     Yes         No              1
...          ...     ...                ...     ...        ...            ...
7038  9987-LUTYD  Female                  0      No         No              1
7039  9992-RRAMN    Male                  0     Yes         No              2
7040  9992-UJOEL    Male                  0      No         No              1
7041  9993-LHIEB    Male                  0     Yes        Yes              1
7042  9995-HOTOH    Male                  0     Yes        Yes              0

      internet_service  contract_type      payment_type monthly_charges  ...  \
0                    1              1      Mailed check          $65.60  ...
1                    1              0      Mailed check          $59.90  ...
2                    2              0  Electronic check          $73.90  ...
3                    2              0  Electronic check          $98.00  ...
4                    2              0      Mailed check          $83.90  ...
...                ...            ...               ...             ...  ...
7038                 1              1      Mailed check          $55.15  ...
7039                 2              0  Electronic check          $85.10  ...
7040                 1              0      Mailed check          $50.30  ...
7041                 1              2      Mailed check          $67.85  ...
7042                 1              2  Electronic check          $59.00  ...

     has_internet has_phone_and_internet  partner_dependents  start_date  \
0            True                   True                   3  2020-10-24
1            True                   True                   0  2020-10-24
2            True                   True                   0  2021-04-02
3            True                   True                   1  2020-07-07
4            True                   True                   1  2021-04-21
...           ...                    ...                 ...         ...
7038         True                   True                   0  2020-06-12
7039         True                   True                   1  2019-09-26
7040         True                   True                   0  2021-05-31
7041         True                   True                   3  2015-11-21
7042         True                  False                   3  2016-05-02

      average_monthly_charges  validate_monthly_charges  contract_type_desc  \
0                      $65.60                     False              1 Year
1                      $59.90                     False      Month-to-Month
2                      $73.90                     False      Month-to-Month
3                      $98.00                     False      Month-to-Month
4                      $83.90                     False      Month-to-Month
...                       ...                       ...                 ...
7038                   $55.15                     False              1 Year
7039                   $85.10                     False      Month-to-Month
7040                   $50.30                     False      Month-to-Month
7041                   $67.85                     False              2 Year
7042                   $59.00                     False              2 Year

      internet_type_desc  internet_type_desc.1    service_type
0               One Line                   DSL  Phone+Internet
1      Two or More Lines                   DSL  Phone+Internet
2               One Line           Fiber Optic  Phone+Internet
3               One Line           Fiber Optic  Phone+Internet
4               One Line           Fiber Optic  Phone+Internet
...                  ...                   ...             ...
7038            One Line                   DSL  Phone+Internet
7039   Two or More Lines           Fiber Optic  Phone+Internet
7040            One Line                   DSL  Phone+Internet
7041            One Line                   DSL  Phone+Internet
7042    No Phone Service                   DSL   Internet Only

[7043 rows x 26 columns]

In [4]:
df.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,internet_type_desc,internet_type_desc.1,service_type
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,$65.60,...,True,True,3,2020-10-24,$65.60,False,1 Year,One Line,DSL,Phone+Internet
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,$59.90,...,True,True,0,2020-10-24,$59.90,False,Month-to-Month,Two or More Lines,DSL,Phone+Internet
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,$73.90,...,True,True,0,2021-04-02,$73.90,False,Month-to-Month,One Line,Fiber Optic,Phone+Internet
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,$98.00,...,True,True,1,2020-07-07,$98.00,False,Month-to-Month,One Line,Fiber Optic,Phone+Internet
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,$83.90,...,True,True,1,2021-04-21,$83.90,False,Month-to-Month,One Line,Fiber Optic,Phone+Internet

In [6]:
df.tail()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,internet_type_desc,internet_type_desc.1,service_type
7038,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,$55.15,...,True,True,0,2020-06-12,$55.15,False,1 Year,One Line,DSL,Phone+Internet
7039,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,$85.10,...,True,True,1,2019-09-26,$85.10,False,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
7040,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,$50.30,...,True,True,0,2021-05-31,$50.30,False,Month-to-Month,One Line,DSL,Phone+Internet
7041,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,$67.85,...,True,True,3,2015-11-21,$67.85,False,2 Year,One Line,DSL,Phone+Internet
7042,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,$59.00,...,True,False,3,2016-05-02,$59.00,False,2 Year,No Phone Service,DSL,Internet Only

In [7]:
df.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_tenure,partner_dependents
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,1.325004,1.222916,0.690473,32.368309,1.082209
std,0.368612,0.642730,0.778877,0.833755,24.597021,1.226274
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,9.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,29.000000,1.000000
75%,0.000000,2.000000,2.000000,1.000000,55.000000,2.000000
max,1.000000,2.000000,2.000000,2.000000,79.000000,3.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   is_senior_citizen         7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   phone_service             7043 non-null   int64
 6   internet_service          7043 non-null   int64
 7   contract_type             7043 non-null   int64
 8   payment_type              7043 non-null   object
 9   monthly_charges           7043 non-null   object
 10  total_charges             7032 non-null   object
 11  churn                     7043 non-null   object
 12  monthly_tenure            7043 non-null   int64
 13  is_female                 7043 non-null   bool
 14  has_churned               7043 non-null   bool
 15  has_phone                 7043 non-null   bool
 16  has_internet              7043 non-null   bool
 17  has_phone_and_internet    7043 non-null   bool
 18  partner_dependents        7043 non-null   int64
 19  start_date                7043 non-null   object
 20  average_monthly_charges   7043 non-null   object
 21  validate_monthly_charges  7043 non-null   bool
 22  contract_type_desc        7043 non-null   object
 23  internet_type_desc        7043 non-null   object
 24  internet_type_desc.1      7043 non-null   object
 25  service_type              7043 non-null   object
dtypes: bool(6), int64(6), object(14)
memory usage: 1.1+ MB

In [9]:
df.shape

(7043, 26)

In [10]:
df.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'monthly_tenure',
       'is_female', 'has_churned', 'has_phone', 'has_internet',
       'has_phone_and_internet', 'partner_dependents', 'start_date',
       'average_monthly_charges', 'validate_monthly_charges',
       'contract_type_desc', 'internet_type_desc', 'internet_type_desc.1',
       'service_type'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=7043, step=1)

In [13]:
df.dtypes

customer_id                 object
gender                      object
is_senior_citizen            int64
partner                     object
dependents                  object
phone_service                int64
internet_service             int64
contract_type                int64
payment_type                object
monthly_charges             object
total_charges               object
churn                       object
monthly_tenure               int64
is_female                     bool
has_churned                   bool
has_phone                     bool
has_internet                  bool
has_phone_and_internet        bool
partner_dependents           int64
start_date                  object
average_monthly_charges     object
validate_monthly_charges      bool
contract_type_desc          object
internet_type_desc          object
internet_type_desc.1        object
service_type                object
dtype: object

In [14]:
df.sort_values(by='churn')

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,internet_type_desc,internet_type_desc.1,service_type
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,$65.60,...,True,True,3,2020-10-24,$65.60,False,1 Year,One Line,DSL,Phone+Internet
4375,6169-PPETC,Male,0,Yes,Yes,1,0,2,Bank transfer (automatic),$20.50,...,False,False,3,2018-06-26,$20.50,False,2 Year,One Line,No Internet Service,Phone Only
4374,6169-PGNCD,Female,0,No,No,1,1,2,Credit card (automatic),$74.30,...,True,True,0,2016-11-24,$74.30,False,2 Year,One Line,DSL,Phone+Internet
4373,6168-YBYNP,Male,0,No,No,2,2,0,Electronic check,$111.35,...,True,True,0,2016-09-10,$111.35,False,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
4371,6166-YIPFO,Male,0,Yes,No,0,1,2,Electronic check,$64.70,...,True,False,1,2015-06-17,$64.70,False,2 Year,No Phone Service,DSL,Internet Only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4815,6772-KSATR,Male,0,No,No,2,2,0,Electronic check,$81.70,...,True,True,0,2021-06-26,$81.70,False,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
4818,6776-TLWOI,Male,0,No,No,1,0,0,Mailed check,$19.85,...,False,False,0,2021-04-19,$19.85,False,Month-to-Month,One Line,No Internet Service,Phone Only
4819,6777-TGHTM,Female,0,No,No,2,2,1,Credit card (automatic),$106.95,...,True,True,0,2017-01-23,$106.95,False,1 Year,Two or More Lines,Fiber Optic,Phone+Internet
4866,6857-VWJDT,Female,0,No,No,2,2,0,Mailed check,$95.65,...,True,True,0,2021-06-26,$95.65,False,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
1510,2219-MVUSO,Male,0,No,No,1,1,0,Mailed check,$45.15,...,True,True,0,2020-10-04,$45.15,False,Month-to-Month,One Line,DSL,Phone+Internet